<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="cart-page"
<h2>Your Cart</h2>

<ul>
<% @cart.line_items.each do |item| %>
<div class="personal_cart grid_9">
  <li class="grid_3"><%= image_tag(item.item.image, size: '100%') %></li>
  <li class="grid_3"><h5><%= item.item.title %></h5></li>
  <li class="grid_3">Price: $<%= item.item.price %>.00</li>
  <li class="grid_3">Quantity: <%= item.quantity %></li>
  <span><%= button_to 'Remove', item, method: :delete, class: "remove fa fa-times" %></span>
  </div>
  <% end %>
</ul>

<ul class="order_box grid_5">
  <%= link_to 'Submit My Order', root_url, class: "submit grid_4" %>
  <li class="grid_5">Shipping:
    <% if @cart.total_price.to_i > 50 %>
    Free
    <% else %>
    $9.99
    <% end %>
  </li>
  <li class="grid_5">Subtotal: <%= number_to_currency(@cart.total_price) %> </li>
</ul>

<div class="empty grid_8">
  <%= button_to 'Empty Cart', @cart, method: :delete %>

</div>
</div>
