<!DOCTYPE html>
<html>
<head>
  <title>Robfordshop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container_16">
  <nav class="topnav grid_16">
    <div class="logo grid_4"><h5><%= link_to "Rob Ford's Favorite Things", root_url %></h5></div>
    <a href="" class="cart_link grid_2 prefix_9">View Cart</a>
    <div class="categories container_8 prefix_7">
      <a href="" class="category grid_2">Must Haves</a>
      <a href="" class="category grid_2">Wearables</a>
      <a href="" class="category grid_2">Perishables</a>
      <a href="" class="category grid_2">Face Stuff</a>
    </div>
  </nav>

<%= yield %>
</div>
</body>
</html>
